<h3>Reset Password</h3>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>New Password</mat-label>
    <input matInput formControlName="password" type="password" required />
    <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input matInput formControlName="confirmPassword" type="password" required />
    <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
      Confirm Password is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>
</form>
